<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="shortcut icon" href="/icons/cherry-icon.ico" type="image/x-icon">
    <title>Cherry Blog</title>
</head>
<body>
    <main class="navbar-container">
        <nav class="navbar">
            <a class="navbar-item navbar-home" href="/">Home</a>
            <a class="navbar-item navbar-create" href="/create">Create</a>
        </nav>
    </main>
</body>
</html>