
    <body>
        <main class=postbox>
            <h2 class=post-title> <a href=/p1>My first day.</a> </h1>
            <p class=post-text>tetete</p>
            <p class=post-author>Alyfer - <span class=postDate>2/1/2024 - 16:25</span></p>
        </main>
    </body>
    