
    <body>
        <main class=postbox>
            <h2 class=post-title> <a href=/p0>This is a little demonstration of a post.</a> </h1>
            <p class=post-text>The blog is not really working the way i want, but i'll update this with time and learning progress... :D</p>
            <p class=post-author>Alyfer - <span class=postDate>2/1/2024 - 16:25</span></p>
        </main>
    </body>
    